.tm-navbar {
    background-color: #E3D7FF;
}
.tm-navbar-slogan {
    font-style: italic;
}
/* Footer Styles */
footer {
    background-color: #AFA2FF;
}
.footer-container {
    margin: 0 auto;
    padding: 25px;
    text-align: center;
}
.footer-container p {
    margin: 0;
    color: #777;
    font-size: 14px;
}
