/*Top Navigation Bar*/
.navbar {
    background-color: #E3D7FF;
    border-bottom: 1px solid #ddd;
    position: sticky;
}

.navbar a{
    color: black;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 18px 24px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.siteTitle {
    color: black;
    font-size: 22px;
    text-decoration: none;
}

.slogan {
    font-size: 14px;
}

.nav-container nav {
    margin-left: auto;
    display: flex;
    gap: 25px;
}

.nav-container nav a {
    text-decoration: none;
    font-size: 15px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f7f8fa;
    color: black;
}

/*Page Structure*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 60px 60px;
}

/*Footer Styles*/
footer {
    background-color: #AFA2FF;
    border-top: 1px solid #ddd;
}
.footer-container {
    max-width: 1200px;
    padding: 25px 24px;
    text-align: center;
}
.footer-container p {
    margin: 0;
    color: #777;
    font-size: 14px;
}

.courseName{
    text-align: center;
    text-emphasis: bold;
}


.reviewBox {
    width: 100%;
    box-sizing: border-box;
    height: 300px;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    font-size: 15px;
    outline: none;
    resize: vertical;
    font-family: Arial, Helvetica, sans-serif;
}

.reviewButton{
    height: 44px;
    padding: 0 22px;
    border-radius: 5px 5px 5px 5px;
    background-color: purple;
    color: white;
    font-size: 15px;
    cursor: pointer;
}